@import 'material-colors/dist/colors.scss';

$text-50:  $md-blue-grey-50; 
$text-100: $md-blue-grey-100;
$text-200: $md-blue-grey-200;
$text-300: $md-blue-grey-300;
$text-400: $md-blue-grey-400;
$text-500: $md-blue-grey-500;
$text-600: $md-blue-grey-600;
$text-700: $md-blue-grey-700;
$text-800: $md-blue-grey-800;
$text-900: $md-blue-grey-900;

$bg-50:  $md-blue-grey-50;
$bg-100: $md-blue-grey-100;
$bg-200: $md-blue-grey-200;
$bg-300: $md-blue-grey-300;
$bg-400: $md-blue-grey-400;
$bg-500: $md-blue-grey-500;
$bg-600: $md-blue-grey-600;
$bg-700: $md-blue-grey-700;
$bg-800: $md-blue-grey-800;
$bg-900: $md-blue-grey-900;

$green-50:  #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #81C784;
$green-400: #66BB6A;
$green-500: #4CAF50;
$green-600: #43A047;
$green-700: #388E3C;
$green-800: #2E7D32;
$green-900: #1B5E20;

$red-50:  #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;

$accent-green: #00E676;
$accent-orange: #FFCC80;
