html,
body {
  color: $text-100;
  background: $bg-900;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  font: 16px verdana;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.btn-icon {
  background: $bg-600;
  // border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: .125rem;

  svg {
    color: $text-200;
  }

  &.has-accent {
    background: $accent-green;
    svg {
      color: #000;
    }
  }

  &.is-disabled {
    pointer-events: none;
    svg {
      color: $text-400;
    }
  }
}

#app {
  max-width: $max-page-width;
  min-width: $min-page-width;
  margin: auto;
  position: relative;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.notification {
  color: #fff;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: .25rem;
  padding: .75rem;

  &-title {
    font-size: 1.25rem;
    font-weight: normal;
  }

  &-content {
    font-size: 1rem;
  }

  &.error {
    background: $red-800;
  }
}

.warning {
  font-size: 3rem;
  color: $text-300;
  background: $bg-800;
  text-align: center;
  padding: 1rem;
}
